/* Add here all your css styles (customizations) */

a.navbar-brand{ color:#687074; z-index: 1;height:40px;line-height: 40px;position: relative;padding: 0;}
.pagination li a { padding: 6px 12px; }
.news-v3 .blog-content p {line-height:170%; font-size: 14px;}
.timeline-body a {color: #72c02c;}

.mega-menu-content li a:hover {background: #fff;}

.header .dropdown-menu .mega-menu-content li > a:hover {
    background: #fff !important;
}

.header h2.github {
    margin:0;
    font-size:20px;
    padding-left:15px;
}

.blog td{
    font-size:18px;
}

.blog td.meta{
    text-align:right;
}

ul.blog-info{
    margin-bottom:0px;
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 14px;
    line-height: 1.6;
}
.news-v3 h1{
	font-size:32px;
}

.news-v3 h2{
	font-size:28px;
}

.news-v3 h3{
	font-size:24px;
}
