<!--=== Footer ===-->
<div id="footer-default" class="footer-default">
  <div class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-8 md-margin-bottom-40">
          <!-- About -->
          <div class="headline"><a href="/"><h2>YPLam</h2></a>&nbsp;&nbsp;<span>关于PHP, Linux, Embedded C/C++</span></div>
          <p>PHP开发工程师，也是一名骑行爱好者，就职于广州一家自行车行业公司。</p>
          <p>欢迎与我交流：yplam#yplam.com</p>
          <!-- End About -->
        </div><!--/col-md-8-->
        <div class="col-md-4 md-margin-bottom-40">
          <!-- Recent Blogs -->
          <div class="headline"><a href="https://github.com/yplam"><h2>GitHub</h2></a></div>
          <ul class="list-unstyled link-list">
            <li><a target="_blank" href="https://github.com/yplam/WechatSDK">WechatSDK 微信开发SDK</a></li>
            <li><a target="_blank" href="https://github.com/yplam/wechat">Drupal 微信模块</a></li>
            <li><a target="_blank" href="https://github.com/yplam/special_topic">Drupal 专题模块</a></li>
            <li><a target="_blank" href="https://github.com/yplam/ucenter_plus">Drupal扩展UCenter</a></li>
          </ul>
          <!-- End Recent Blogs -->
        </div><!--/col-md-4-->
      </div>
    </div>
  </div>
  <div class="copyright">
      <div class="container">
          <div class="row">
              <div class="col-md-9">
                  <p>本站内容如非特别说明，均基于<a rel="license" target="_blank" href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-Share Alike 3.0 Unported License</a>发布，转载请注明出处。</p>
              </div>
          </div>
      </div>
  </div><!--/copyright-->
</div>
<!--=== End Footer ===-->
