---
layout: default
---

<div class="news-v3 bg-color-white margin-bottom-30">
  <div class="news-v3-in">
    <ul class="list-inline posted-info">
      <li>In
      {% for category in page.categories %}
        {{ category }}{% unless forloop.last %}, {% endunless %}
      {% endfor %}
      </li>
      <li>Posted {{ page.date | date: "%b %-d, %Y" }}</li>
    </ul>
    <h1>{{ page.title | escape }}</h1>
    <div class="post-content margin-bottom-30" itemprop="articleBody">
    {{ content }}
    </div>
                                    
  </div>
</div>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/styles/pojoaque.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% include mathjax_support.html %}

